<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        Recipe Book
      </a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a [routerLink]="['recipes']">Recipes</a>
        <li routerLinkActive="active">
          <a [routerLink]="['shopping-list']">Shopping List</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a role="button" class="dropdown-toggle">
            Manage <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li style="cursor: pointer"><a>Save Data</a></li>
            <li style="cursor: pointer"><a>Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
