<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit"
                  [disabled]="recipeForm.invalid"
                  class="btn btn-success">Save
          </button>
          <button type="button"
                  (click)="onCancel()"
                  class="btn btn-danger">Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control"
                   type="text"
                   formControlName="name"
                   #name
                   id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image Path</label>
            <input class="form-control"
                   type="text"
                   formControlName="imagePath"
                   #imagePath
                   id="imagePath">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value"
               [alt]="name.value"
               class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"
                      type="text"
                      formControlName="description"
                      rows="6"
                      id="description">
              </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"
             formArrayName="ingredients">
          <div
            *ngFor="let ingredient of getControls(); let i = index"
            [formGroupName]="i"
            style="margin-top:10px"
            class="row">
            <div class="col-xs-8">
              <input formControlName="name"
                     class="form-control"
                     type="text"/>
            </div>
            <div class="col-xs-2">
              <input formControlName="amount"
                     class="form-control"
                     type="number"/>
            </div>
            <div class="col-xs-2">
              <button (click)="onDeleteIngredient(i)"
                      class="btn btn-danger">X
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="button"
                  (click)="onAddIngredient()"
                  class="btn btn-success">Add Ingredient
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
