<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a *ngFor="let r of recipes"
       href="#"
       class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{r.name}}</h4>
        <p class="list-group-item-text">{{r.description}}</p>
      </div>
      <span class="pull-right">
        <img
             [src]="r.imagePath"
             alt="{{r.name}}"
             class="img-responsive"
             style="max-height:50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

