<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 name="name"
                 ngModel
                 required
                 class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="text"
                 id="amount"
                 name="amount"
                 ngModel
                 required
                 pattern="^[1-9]+[0-9]*$"
                 class="form-control">
        </div>
      </div>
      <div class="row manage-ingredients">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  [disabled]="f.invalid"
                  type="submit">
            {{editMode ? "Update" : "Add"}}
          </button>
          <button class="btn btn-danger"
                  type="button"
                  *ngIf="editMode"
                  (click)="onDelete()">
            Delete
          </button>
          <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
